
/* CSS Document */
body,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input{margin:0;padding:0;}
ul,ol,li{list-style-type:none}
li{vertical-align:0}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal}
a{outline-style:none;color:#272727;text-decoration:none}
a:hover{color:#065b18; text-decoration:none}
input,select,textarea{ border:none; background:none; vertical-align:middle; outline:none;}
em{font-style:normal}
img{border:0px; vertical-align:middle;}
a img{ display:block;}
.clear{clear:both; height:0px; overflow:hidden}
.hidden{display:none}
.fl,.fldi{float:left}
.fr,.frdi{float:right}
body,input,select,textarea{ font-size:12px; font-family:"微软雅黑";}
body{ color:#555; background:#FFF; overflow-x:hidden; position:relative;}

/* A and txt color */
.txt_1{ color:#FFF;}
a.txt_1:hover{ color:#146e27; text-decoration:underline;}
.txt_2{ color:#146e27;}
a.txt_2:hover{ color:#146e27;}
.z1{ z-index:1;}
.z2{ z-index:2;}
.z3{ z-index:3;}
.z4{ z-index:4;}
.z5{ z-index:5;}
.z6{ z-index:6;}
.z7{ z-index:7;}
.z8{ z-index:8;}
.z9{ z-index:9;}
.z10{ z-index:10;}
.Gwrap{ width:100%;margin-left:-720px; position:relative; left:50%;}
.GheadBox,
.GbreadLink,
.GmainBox,
.GfootBox{ overflow:hidden;}


/* 二级页面公用头部 */
.GheadBox{ height:425px;}
.headTop{ width:800px; padding-left:400px; position:absolute; left:120px;}
.headTop .logo{ float:left; padding:48px 0 0 25px; margin-left:-400px;}
.headTop .htopR{ width:800px!important;float:right; padding-top:22px; position:relative;}
.headTop .telbox{ line-height:22px; position:absolute; right:0; top:22px;}
.headTop .telbox span{ float:left; color:#146e27!important; padding-left:22px;}
.headTop .telbox .fenx .lk_a{ width:68px; height:22px; display:block; background:url(../images/fx.png) no-repeat;}
.headTop .logbox,
.headTop .logbox2{ height:22px; color:#78d091; line-height:22px;}
.headTop .logbox .logbtn{ width:45px; height:22px; color:#FFF; text-align:center; display:inline-block; background-color:#98D7AA;}
.headTop .logbox .lk_a{ color:#78d091;}
.headTop .logbox .lk_a:hover{ color:#78d091; text-decoration:underline;}
.headTop .logbox2 .lk_a:hover{ color:#78d091; text-decoration:underline;}
.headTop .menu{ height:44px; margin-top:6px;}
.headTop .menu li{ height:44px; float:left; font-size:16px;}
.headTop .menu .libg{ width:43px!important; height:22px; background:url(../images/bg4.png) no-repeat center center;}
.headTop .menu a.cur{ height:44px; color:#237238; display:block; background:url(../images/bg3.png) no-repeat center bottom;}


/* 面包屑 */
.GbreadLink{width:1330px; height:24px;padding-right:110px; margin-left:-720px;background:url(../images/bg.jpg) no-repeat; position:relative; left:50%;}
.SbreadLink{ color:#FFF; line-height:16px; padding-top:8px; text-align:right;}
.SbreadLink a.lk_a:hover{ color:#FFF; text-decoration:underline;}


/* 主体框架 */
.GmainBox{ position:relative; z-index:1;}
.GmainBox .SmainBox{zoom:1;}
.GmainBox .Smain{width:1200px;padding-bottom:70px;margin:46px auto 0;}
.GmainBox .Smleft{width:210px;float:left;min-height:500px;}
.GmainBox .Smright{width:926px;float:right;}


/* 通用底部 */
.GfootBox{ width:100%;background-color:#7d7d7d;}
.GfootBox .Sfoot{width:1200px;color:#dcdcdc;line-height:30px;overflow:hidden;margin-left:auto;margin-right:auto;padding:20px 0 30px;zoom:1;}
.GfootBox .Sfoot .lk_a{ color:#dcdcdc;}
.GfootBox .Sfoot .lk_a:hover{color:#dcdcdc;text-decoration:underline;}
.GfootBox .footL{width:540px;float:left;text-align:right;}
.GfootBox .footR{width:610px;float:right;padding-left:22px;border-left:1px solid #959595;}


/* 下拉列表 and 输入框 */
.Ssearch{height:36px;border:1px solid #146E28;}
.selBox{width:65px;height:36px; display:block;border-right:1px solid #146E28;position:relative;}
.selBox .selTit{ display:block;cursor:pointer;font-size:14px;line-height:36px;text-align:right;padding-right:22px;background:url(../images/bg2.jpg) no-repeat right center;}
.selBox .selCon{width:65px;display:none;border:1px solid #146E28;background-color:#FFF;position:absolute;left:-1px;top:36px;}
.selBox .selCon.open{ display:block;}
.selBox .selCon li{height:24px;cursor:pointer;font-size:14px;line-height:24px;text-align:right;padding-right:10px;}
.selBox .selCon li:hover{background-color:#ddf1e1;}
.serBox{height:36px;overflow:hidden;}
.serBox .serIpt{width:104px;height:36px;float:left;padding:0 6px;}
.serBox .serIpt .ipt{width:100%;height:36px;font-size:14px;line-height:36px;}
.serBox .serBtn{width:25px;float:right;padding-top:7px;}
.serBox .serBtn .btn{width:21px;height:21px;display:block;overflow:hidden;background:url(../images/bg3.jpg) no-repeat center center;}
.iptselWrap .iptbox{ width:360px; height:26px; padding:2px 7px; border:1px solid #C9C9C9;}
.iptselWrap .iptbox .ipt{ width:100%; height:26px; font-size:14px; line-height:26px;}
.iptselWrap .selBox{ width:374px; height:30px; border:1px solid #C9C9C9; left:0; top:0; right:0; bottom:0;}
.iptselWrap .selBox .selTit{ height:30px; line-height:30px; background-image:url(../images/bg14.jpg); text-align:center;}
.iptselWrap .selBox .selCon{ width:374px; border-color:#C9C9C9; background-color:#FFF; top:30px;}
.iptselWrap .selBox .selCon ul{ max-height:144px; overflow-y:auto;}
.iptselWrap .selBox .selCon li{ text-align:center;}
.iptselWrap .selBox2{ width:85px; float:left; z-index:1;}
.iptselWrap .s2txt{ width:42px; float:left; font-size:14px; line-height:30px; padding-left:6px;}
.iptselWrap .s2txt2{ width:auto;}
.iptselWrap .selBox2 .selCon{ width:85px;}
.iptselWrap .selBox2 .selCon li{ text-align:left; padding-left:10px;}
.iptselWrap .selBox2 .selTit{ text-align:left; padding-left:10px;}
.iptselWrap .txtraBox{ overflow:hidden; zoom:1; border:1px solid #C9C9C9; padding:4px 7px;}
.iptselWrap .txtraBox textarea{ width:100%; overflow:auto; float:left; font-size:14px; line-height:1.5;}


/* 个人中心左侧 */
.Sml_tit{ color:#78d091; overflow:hidden; text-align:right; margin-top:10px; padding:26px 10px 8px 0; background-color:#146e27;}
.Sml_tit .cn{ font-size:18px; line-height:26px; font-weight:bold;}
.Sml_tit .en{ line-height:14px;}
.Sml_nav{ overflow:hidden;}
.Sml_nav .h3Tit{ background-color:#D8DCD9;}
.Sml_nav .h3Tit .lk_a{ height:36px; font-size:14px; line-height:36px; display:block; overflow:hidden; padding:0 40px; background:url(../images/bg9.jpg) no-repeat right center; border-bottom:1px solid #9CA29E;}
.Sml_nav .h3Tit .lk_a.cur{ color:#146e27; background:#DBDDDA url(../images/bg12.png) no-repeat right center; border-bottom:3px solid #146e27;}
.Sml_nav .olnav{ display:none; background-color:#eaedeb; border-bottom:1px solid #9CA29E;}
.Sml_nav .olnav li{ overflow:hidden;}
.Sml_nav .olnav li .lk_a{ line-height:20px; display:block; padding:6px 10px 6px 40px;}
.Sml_nav .olnav li .lk_a:hover,
.Sml_nav .olnav li .lk_a.cur{ color:#159931; background-color:#f7f8f7;}
.Sml_nav .olnav li span{ padding-right:12px; background:url(../images/hd.jpg) no-repeat right center;}
.Sml_nav .olnav li .lk_a:hover span,
.Sml_nav .olnav li .lk_a.cur span{ background-image:url(../images/ld.jpg);}
.Sml_nav .olnavOpen{ display:block;}
.Sml_nav2 .h3Tit .lk_a{ background-color:#bae3c5; border-bottom:none;}
.Sml_nav2 .h3Tit .lk_a.cur{ border-bottom:none; padding-left:0; padding-right:80px; text-align:right; background-color:#bae3c5;}
.Sml_nav2 .olnav{ display:block; margin-bottom:-1px; background-color:#f6f6f6; border-bottom:none;}
.Sml_nav2 .olnav li{ border-bottom:1px solid #dedfdf;}
.Sml_nav2 .olnav li .lk_a{ padding-left:0; padding-right:74px; text-align:right;}
.CourseLka{overflow:hidden;margin-top:10px;}
.CourseLka .lk_a{display:block;padding:3px;background-color:#78d091;}
.CourseLka .tit{height:46px;display:block;text-align:center;border:1px solid #FFF;}
.CourseLka .tit cite{color:#FFF;font-size:18px;line-height:46px;font-style:normal;font-weight:bold;padding-left:26px;display:inline-block;background:url(../images/bg4.jpg) no-repeat left center;}
.ContactUs{overflow:hidden;margin-top:60px;text-align:right;}
.ContactUs .cn{color:#338142;font-size:18px;font-weight:bold;line-height:26px;}
.ContactUs .en{color:#338142;line-height:14px;}
.ContactUs .tit{color:#338142;font-size:14px;line-height:26px;margin-top:32px;}
.ContactUs .tit span{ padding-left:18px; background-repeat:no-repeat; background-position:left center;}
.ContactUs .tit1 span{ background-image:url(../images/bg5.jpg);}
.ContactUs .tit2 span{ background-image:url(../images/bg6.jpg);}
.ContactUs .txt{ color:#4f4f4f; line-height:22px;}
.ContactUs .txticon{ height:21px; margin-top:8px;}
.ContactUs .txticon .lk_a{ width:26px; height:21px; display:inline-block; margin-left:7px; background-repeat:no-repeat; background-position:left top;}
.ContactUs .txticon .lk_a:hover{ background-position:left -29px;}
.ContactUs .txticon .lkwb{ background-image:url(../images/wb.png);}
.ContactUs .txticon .lkwx{ background-image:url(../images/wx.png);}
.ContactUs .txticon .lkrr{ width:28px; background-image:url(../images/rr.png);}


/* 复选框 and 单选 */
.spcheck{ width:16px; height:16px; cursor:pointer; display:block; float:left; margin-left:-20px; overflow:hidden; background:url(../images/bg.png) no-repeat left -18px; margin-top:2px;}
.spcheck.checkCur{ background-position:left top;}
.spradio{ height:16px; line-height:16px; cursor:pointer; display:block; padding-left:14px; overflow:hidden; background:url(../images/radio.png) no-repeat left bottom;}
.spradio.radioCur{ background-position:left top;}


/* btn */
.btnBox{ text-align:center;}
.btnBox .btn{ height:36px; font-size:16px; line-height:36px; color:#FFF; display:inline-block; padding:0 38px; background-color:#399b4e;}
.btnBox .btn:hover{ color:#FFF; background-color:#146e27;}


/* Hot */
.spHot{ width:25px; height:14px; overflow:hidden; display:inline-block; background:url(../images/hot.png) no-repeat center center;}


/* 右侧顶部标题 */
.Smr_tit{ margin-bottom:32px; text-align:center;}
.Smr_tit .tit{ padding:4px 25px 12px; display:inline-block; background:url(../images/bg7.jpg) no-repeat center bottom;}
.Smr_tit .en{ color:#afb3b0; font-size:20px;text-transform:uppercase;}
.Smr_tit .cn{ color:#146e27; font-size:24px;}
.Smr_tit2 .tit{ display:block;}


/* 翻页 */
.fanye{ overflow:hidden; zoom:1; font-size:14px; color:#222; text-align:center;}
.fanye .lk_a{ width:26px; height:26px; text-align:center; line-height:26px; display:inline-block; margin:0 3px;}
.fanye .lk_a.cur,
.fanye .lk_a:hover{ color:#FFF; background-color:#529761;}
.fanye .sy,
.fanye .wy{ margin:0 6px;}
.fanye .syy,
.fanye .xyy{ height:24px; color:#338142; line-height:24px; padding:0 12px 0 6px; display:inline-block; border:1px solid #CCC;}
.fanye .syy:hover,
.fanye .xyy:hover{ border-color:#9fcf9f; background-color:#e2f5e8;}
.fanye span{ display:inline-block; line-height:26px;}
.fanye .ipt{ width:24px; height:18px; line-height:18px; margin-top:-2px; text-align:center; border:1px solid #a1a1a1;}


/* 弹层集合 */
.layBg{ width:100%; height:100%; min-height:100%; background:url(../research/images/bg5.png) repeat; position:fixed; left:0; top:0; z-index:88;}
.layCon{border:1px solid #797979; background-color:#FFF; position:fixed; left:50%; top:50%; z-index:99;
	-webkit-box-shadow:0 0 2px 1px #797979;
	-moz-box-shadow:0 0 2px 1px #797979;
	-ms-box-shadow:0 0 2px 1px #797979;
	-o-box-shadow:0 0 2px 1px #797979;
	box-shadow:0 0 2px 1px #797979;}
.layCon .closebtn{ width:32px; height:32px; display:block; background:url(../images/closebtn.jpg) no-repeat left top; position:absolute; right:10px; top:10px;}


/* 注册 */
.layLog{ width:446px; height:354px; padding:36px 0 0 34px; margin:-195px 0 0 -240px;}
.layLog .logTit{ height:36px; padding-right:38px; padding-bottom:10px;}
.layLog .logTit .tit{ color:#146e27; font-size:26px; line-height:36px; float:left;}
.layLog .logTit .lkareg{ color:#146e27; font-size:16px; float:right; margin-top:8px; padding-left:24px; background:url(../images/bg11.jpg) no-repeat left center;}
.layLog .logipt{ width:372px; height:44px; border:1px solid #9E9E9E; margin-top:28px; background:url(../images/bg12.jpg) no-repeat left center; padding-left:34px;}
.layLog .logipt .ipt{ width:100%; height:44px; line-height:44px; font-size:18px;}
.layLog .logipt2{ background-image:url(../images/bg13.jpg);}
.layLog .autolog{ width:408px; height:16px; line-height:16px; margin-top:18px;}
.layLog .autolog .spcheck{ width:auto; float:left; padding-left:18px; margin:0;}
.layLog .autolog .mmno{ float:right; color:#808080;}
.layLog .autolog .mmno:hover{ color:#146e27;}
.layLog .logbtn{ margin-top:40px; text-align:center;}
.layLog .logbtn .btn{ width:214px; height:40px; color:#FFF; font-size:18px; line-height:40px; display:inline-block; background-color:#146e27;}


/* 预约提交成功 */
.layInfo{ width:480px; height:340px; margin:-170px 0 0 -240px;}
.layInfo .closebtn{ right:20px; top:20px;}
.layInfo .Smr_tit{ padding-top:44px;}
.layInfo .infoTxt{ font-size:14px; line-height:28px; padding:8px 0 0 50px;}
.layInfo .infoTxt strong{ color:#146e27;}


/* 报名成功 */
.layInfo .baomtxt{ line-height:20px; text-align:center; padding:0 73px;}
.layInfo .baomtxt em{ color:#146e27; font-weight:bold;}
.layInfo .baomtxt .p1{ font-size:14px;}
.layInfo .baombtn{ margin-top:50px;}
.layInfo .baombtn .btn{ padding:0 60px; margin:0 7px;}

/* 选项卡 */
.tabsBox{ padding-bottom:8px; background:url(../images/bgb.jpg) no-repeat left bottom; overflow:hidden; position:relative;}
.tabCons{ background:url(../images/tabbg.jpg) repeat-y left top;}
.tabCons .tabCon{ padding-top:52px; background-repeat:no-repeat; background-position:left top;}
.tabTit{ height:52px; overflow:hidden; margin-bottom:-52px;}
.tabTit li{ width:172px; height:46px; float:left; cursor:pointer; margin-right:-30px; position:relative;}
.tabTit .z9{ width:172px;}
.tabTit .z8{ width:180px;}
.tabTit .z7{ width:202px;}
.tabTit .tab_am{ z-index:11;}
.tabTit .z7.tab_am{ width:166px; padding-right:16px;}
.tabCbg1{ background-image:url(../images/tabbg_1.png);}
.tabCbg2{ background-image:url(../images/tabbg_2.png);}
.tabCbg3{ background-image:url(../images/tabbg_3.png);}
.tabCbg1a{ background-image:url(../images/tabbg_1a.png);}
.tabCbg2a{ background-image:url(../images/tabbg_2a.png);}

/*20151222*/
.backTop{ width:55px; _display:none; overflow:hidden; position:fixed; right:4px; bottom:240px; z-index:999;}
.backTop a{ width:55px; height:55px; display:block; overflow:hidden; margin-bottom:4px; background:url(../images/backtop.png) no-repeat -999px -999px;}
.backTop a.aTop{ background-position:-60px 0;}
.backTop a.aTop:hover{ background-position:0 0;}
.backTop a.aLik{ background-position:-60px -60px;}
.backTop a.aLik:hover{ background-position:0 -60px;}
.ShDLeft .ulone{ width:192px; float:left; overflow:hidden;}
.ShDLeft .gddiv{ width:610px; float:right; overflow:hidden;}
.ShDLeft .gddiv ul{ width:auto; float:left; display:block; overflow:hidden;}
.ShDLeft .innerElem{ width:9999px;}
.ShDLeft2 .gddiv{ width:820px;}




.bodyW{ overflow:visible;}
.bodyW .Gwrap{ left:0; margin:0 auto;}


.prz{position:relative;zoom:1;}
.commandClass{position:fixed;right:4px;bottom:100px;z-index:10;}
.commandClassBtn{display:block;width:68px;height:125px;background:url(../images/flag.png) no-repeat;}

.commandBox{width:207px;border:1px solid #c2c2c2;background:#FFF;position:absolute;left:-209px;bottom:0;overflow:hidden;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;display:none;}
.commandBox h2{font-size:14px;color:#146e28;font-weight:bold;height:30px;line-height:30px;text-align:center;}
.commandBox table{width:100%;border-collapse:collapse;border-spacing:0;}
.commandBox table th{height:30px;background:#e9e9e9;color:#141414;font-weight:bold;border:1px dashed #b7b7b7;border-left:none;}
.commandBox table td{padding:10px 20px;text-align:center;border:1px dashed #b7b7b7;width:50%;border-left:none;}
.nobor{border-bottom:none!important;}
.commandClass:hover .commandBox{display:block;}

.comandPop{width:918px;background:#FFF;padding:12px 40px 30px 40px;}
.comandPop .commandCloseBtn{display:block;width:33px;height:33px;background:url(../images/commandCloseBtn.jpg) no-repeat;position:absolute;right:0;top:0;}
.comandPop h2{font-size:16px;color:#146e27;font-weight:bold;padding-bottom:10px;padding-top:18px;}
.comandPop table{width:100%;border:1px solid #bbbbbb;text-align:center;border-collapse:collapse;border-spacing:0;color:#272727;}
.comandPop table th{height:44px;background:#e8f4ec;border:1px dashed #a9adaa;font-size:12px;}
.comandPop table td{padding:10px 20px;border:1px dashed #a9adaa}

.comandPop .tableBtn{position:relative;zoom:1;}
.comandPop .tabBtnes{display:block;width:84px;height:29px;background:url(../images/commandBtns.png) no-repeat;text-indent:12px;line-height:29px;color:#146e27;font-weight:bold;text-align:left;}
.comandPop .tableBtn .dn{display:none!important;position:absolute;left:0;top:29px;}

.comandPop .tableBtn:hover .tabBtnes.dn{display:block!important}


.loginSearches{width:195px;height:22px;background:url(../images/loginSearches.png) no-repeat;position:absolute;top:22px;left:362px;}
.searchTittle{display:block;width:40px;height:20px;position:absolute;left:1px;top:1px;line-height:20px;color:#468c5c;padding-left:8px;background:url(../images/searchTittle.png) no-repeat center center;cursor:pointer;}
.searchselected{width:48px;background:#FFF;position:absolute;left:1px;top:22px;display:none}
.searchselected li{padding-left:8px;height:24px;line-height:24px;cursor:pointer;cursor:pointer;}
.searchselected li:hover{background:#dfeaf6;}

.siptsearch{width:113px;height:20px;position:absolute;left:48px;top:1px;padding:0 5px;line-height:20px;}
.sBtnsearch{width:23px;height:22px;position:absolute;right:0;top:0;cursor:pointer;}

/*20160203*/
.tabCbg1{ background-image:url(../images/newTabs01.png) !important;}
.tabCbg2{ background-image:url(../images/newTabs02.png) !important;}
.tabCbg3{ background-image:url(../images/newTabs03.png) !important;}
.tabCbg4{ background-image:url(../images/newTabs04.png) !important;}
.tabTit .z6{ width:180px;}

.tabCbg1a{ background-image:url(../images/newTabss01.png) !important;}
.tabCbg2a{ background-image:url(../images/newTabss02.png) !important;}
.tabCbg3a{ background-image:url(../images/newTabss03.png) !important;}




























